<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Imperica.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7731F9E22AE1658C000A4CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7731F9F22AE1658F000A4CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7731F9FC2AE1658F000A4CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
